body{
    
    background-image: url('bismillah.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
    text-align: center;
    border: 4px solid rgb(13, 248, 25); 
    width: 1000px;
    height: 350px;
    text-align: center;
    margin: 30px;
}

h2 {
    color: aqua;
    background-color: #fa5c5c;
    margin: 10px;
}

p {
    background-color: rgb(25, 3, 46);
    border: 4px solid red;
    padding: 30px;
}

pre {
    background-color: rgb(25, 3, 46);
    border: 4px solid red;
    padding: 30px;
}

form {
    color: rgb(2, 34, 12);
}
button{
        background-color: lightyellow;
    }